.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 350px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 150px;
    color: black;
    font-size: 18px;
    
}
.navbar-right{
    display: flex;
    position:relative;
    align-items:left;
    gap: 70;
}
.navbar button{
    background: transparent;
    position:relative;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius:150px;
    cursor: pointer;
    transition: 0.3s; 
}

.navbar button:hover{
    background-color: #ede770;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;

}

.navbar-search-icon .dot{
    position:absolute;
    min-width:10px;
    min-height: 10px;
    background-color: rgb(227, 67, 67);
    border-radius: 5px;
    top: -8px;
    right:-8px;
}


