.explore-events{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100dvh - 200px);
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;

}

.explore-event-list  {
    display: flex;
}

.explore-event-list .event {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.explore-events h1{
    color:black;
    font-weight: 500;
}
.explore-event-text{
    max-width: 70%;
    columns:#808080;

}
.explore-event-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
    flex-wrap: wrap;

}
.explore-event-list::-webkit-scrollbar{
    display: none;
}
.event img{
    width:140px;
    height: 120px;
    object-fit: cover;
    cursor:pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-event-list-item p{
    margin-top: 10px;
    max-width: 80px;
    color: black;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
